.allSprite {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    text-align: center;
}

.centerElement{
    text-align: center;
}

.sprite {
    grid-column: span 2;
}